.btn {
  /* background: #bc2131; */
  background: #333;
  color: #fff;
}

.antlers.active {
  background: #bc2131;
}

.jef.active {
  background: #FFE100;
  color: #02794F;
}

.reysol.active {
  background: #FFE401;
  color: #333;
}